<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tournament Summary</title>
    <link rel="stylesheet" th:href="@{/css/newtable_styles.css}">
</head>
<body>
<a th:href="@{/tournaments}">Back to Tournaments</a>
<h2 th:text="'Tournament: ' + ${tournament.name}"></h2>

<h1 th:text="'Tournament Summary — ' + ${tournament.name}" style="font-weight: bold">Tournament Summary</h1>

<!-- Section 1: Tournament Info -->
<h2>Tournament Info</h2>
<table class="info-table">
    <tbody>
    <tr>
        <th>Name</th>
        <td th:text="${tournament.name}">Spring Tournament</td>
    </tr>
    <tr>
        <th>Participants</th>
        <td th:text="${participants.size()}">8</td>
    </tr>
    <tr>
        <th>Number of rounds</th>
        <td th:text="${numberOfRounds}">8</td>
    </tr>
    <tr>
        <th>Matches Played</th>
        <td th:text="${matchesPlayed.size()} + ' / ' + ${totalMatches.size()}">4 / 28</td>
    </tr>
    </tbody>
</table>

<!-- Section 2: Leaderboard -->
<h2>Leaderboard</h2>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Player</th>
        <th>Matches Played</th>
        <th>Score</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry, iterStat : ${tournamentPlayersSorted}">
        <td th:text="${iterStat.count + tournamentPlayersSorted.number * 10}">1</td>
        <td th:text="${entry.player.firstName + ' ' + entry.player.lastName}">Alice Johnson</td>
        <td th:text="${playersMatchesPlayedCount.get(entry.getPlayer().getId())}">4</td>
        <td th:text="${entry.score}">4</td>
    </tr>
    </tbody>
</table>
<br>
<div>
    <a th:href="@{|/tournaments/${tournament.id}/summary?leaderboardPage=${tournamentPlayersSorted.number - 1}|}"
       th:if="${tournamentPlayersSorted.hasPrevious()}">Previous</a>

    <span>Page <span th:text="${tournamentPlayersSorted.number + 1}"></span> of <span th:text="${tournamentPlayersSorted.totalPages == 0 ? 1 : tournamentPlayersSorted.totalPages}"></span></span>

    <a th:href="@{|/tournaments/${tournament.id}/summary?leaderboardPage=${tournamentPlayersSorted.number + 1}|}"
       th:if="${tournamentPlayersSorted.hasNext()}">Next</a>
</div>

</body>
</html>
